<div class="conteinerCH">
    <div class="buttons">
        <a [routerLink]="['/']">Home</a>
        <a [routerLink]="['/characters']">Characters</a>
    </div>
    <div class="image"> <img src="{{character.image}}" alt=""> </div>
    <div class="character-info">
        <h3>{{character.name}}</h3>
        <div class="dates">
            <div class="date">Specie  ->  {{character.species}}</div>
            <div class="status">Status  ->  {{character.status}}<span [ngClass]="{'alive': character.status === 'Alive', 'dead' : character.status === 'Dead',  'unknown' : character.status === 'unknown'}"></span> </div>
            
            <div class="date">Gender  ->  {{character.gender}}</div>
            <div class="date">Origin  ->  {{character.origin.name}}</div>
            <div class="date">Current location  ->  {{character.location.name}}</div>
            <div class="date">appeared in {{character.episode.length+1}} episodes</div>
        </div>
    </div>
</div>

